.home {
    text-align: center;
    padding: 30px;
    background-color: rgb(228, 215, 215);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0;
    height: 100vh;
    color: #00000000;
    background-image: url("https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
}

h1{
    color: black;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

.footer p {
    margin: 0;
    color: #ccc;
}
.le{
    flex: 1;
    padding: 5px; /* Add padding for spacing */
    color: white;
    border-radius: 10px;
    background-color: hsl(206, 29%, 67%);
    width: 12cm;
    margin-left: 1000px; /* Add margin for spacing */
    margin-top: 75px;
}
.le p{
    text-align:left;
    color:black
}